@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(16, 16, 16);
    color: white;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1340px;
    margin: 0 auto;
}

h2{
font-size: 2.8rem;
}


.partners{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr;
   padding: 3rem 1rem;
}

.cards h3{
color:rgb(83, 30, 158);
letter-spacing: .2rem;
font-weight: 400;
}



.cards p{
padding:1rem 0 3rem 0 ;
line-height: 1.8rem;
}

/*header*/

.nav-bar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   box-shadow: 0px 1px 0px 0px rgb(112, 112, 112);
   max-width:1340px;
   margin: 0 auto;
}

.logo{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
}

.span{
    background: -webkit-linear-gradient(#FEC9FF, rgb(83, 30, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero{
    padding: 3rem 1rem;
}

.hero h1{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.hero p{
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.card{
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 1rem;
}

.cards{
    padding: 1rem;
}

.cards-grid{
    display:grid;
    gap:1rem;
}

.btn{
  background-color: transparent;
  border: 2px solid rgb(83, 30, 158);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .4rem;
  font-weight: 700;
  transition: .3s;
}
.btn:hover{
    background-color: rgb(83, 30, 158);
}


.btn-secondary{
    background-color: rgb(83, 30, 158);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .4rem;
    font-weight: 700;
  }


.cards-grid img{
    border-radius: .5rem;
}
form{
    padding: 1rem;
    max-width: 499px;
    margin: 0 auto 4rem auto;
}

input[type=text]{

    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem 0 ;
}


input[type=submit]{
    background-color: transparent;
    border: 2px solid rgb(83, 30, 158);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .4rem;
    font-weight: 700;
    cursor:pointer
       
}


/*tablet*/

@media only screen and (min-width: 768px) {
    .cards-grid{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}

/*small-desktop*/

@media only screen and (min-width: 992px) {
    .hero{
        padding: 8rem 1rem;
        max-width: 50%;
    }

    .hero h1{
        font-size: 4.4rem;
        line-height: 4.9rem;
    }

    .cards-grid{
        display: grid;
        gap:2rem;
        grid-template-columns:1fr 1fr 1fr;
    }
}
